{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Teacher{% endblock %}
{% block contentheading %}Teachers panel{% endblock %}
{% block maincontent %}
    {% block teachercontent %}
    <h1 style="text-align: center;"><span style="text-decoration: underline;"><strong>&iexcl;Bienvenido Profesor!</strong></span></h1>
<p>Si eliges la opci&oacute;n CUESTIONES podr&aacute;s ver todas las cuestiones que tienes y crear nuevas preguntas.</p>
<p style="text-align: left;">Si eliges la opci&oacute;n ESTUDIANTE podr&aacute;s ver la interfaz como la ven tus estudiantes.</p>
<p>&nbsp;</p>
<p style="text-align: center;"><a href="/teacher/questions"> <button>CUESTIONES</button> </a></p>
<p style="text-align: center;"><a href="/teacher/students"> <button>ESTUDIANTE</button> </a></p>
<p>&nbsp;</p>
    {% endblock %}
{% endblock %}
