{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Student{% endblock %}
{% block contentheading %}Students panel{% endblock %}
{% block maincontent %}
    {% block studentcontent %}
<h2 style="text-align: right;"></h2><a href="/student"> <button>Volver</button></a>
<p style="text-align: center;">&iquest;Qu&eacute; pa&iacute;s es m&aacute;s grande? </p>
<p style="padding-left: 850px;"><input id="esp" name="pais" type="radio" value="Espa&ntilde;a" />España</p>
<p style="padding-left: 850px;"><input id="bra" name="pais" type="radio" value="Brasil" />Brasil</p>
<p style="padding-left: 850px;"><input id="and" name="pais" type="radio" value="Andorra" />Andorra</p>
<p style="padding-left: 850px;"><input id="eeuu"  name="pais" type="radio" value="EEUU" />Estados Unidos</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;"><a href="/student/answer"> <button>Responder</button></a><a href="/student/check"> <button>Finalizar</button> </a></p>
    {% endblock %}
{% endblock %}
